.patient-history {
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: -65%;
  border-radius: 10px;
  margin-right: 20px;
  border: 2px solid #a1a1a1;
}

.patient-history h3 {
  color: #16a085;
  margin-bottom: 10px;
}

.patient-history ul {
  list-style-type: none;
  padding: 0;
}

.patient-history li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.patient-history li span {
  font-weight: bold;
  margin-right: 5px;
}

/* Content in patient history entries */
.patient-history p {
  margin-top: 5px;
  color: #333;
}